*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.style1{
	width: 150px;
	height: 150px;
	background:black;
	border-right:5px  solid yellow;
	padding-right: 10px;
	padding-left: 10px;
}