html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }

.box{
	border: 5px solid green;
	position: static;
}

.box p {
	padding: 10px;
	text-align: left;
}

.box2{
	padding: 10px;
	margin-top: 10px;
	border: 5px solid green;
	position: relative;
}

.box2-2{
	position: relative;
  	top: -10px;
  	left: 20px;
  	background: black;
  	width: 500px;
}

.box2-2 p {
	padding: 10px;
	text-align: left;
	font-weight:bold;
	color: white;
}

.box3{
	padding: 10px;
	border: 5px solid green;
	width: 200px;
	position: fixed;
	bottom: 0;
	right: 0;
}

.box4{
	padding: 10px;
	margin-top: 10px ;
	border: 5px solid green;
	position: relative;
	width: 600px;
 	height: 400px;

}

.box4-4 {
	background-color:black;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
  }
