html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

.wrap{
  margin: 0 auto;
  width: 1300px;
  font-family: "微軟正黑體";
  color: #37523d;
}

h1{
  font-size: 20px;
  font-weight: bold;
}

.small{
  background: #e7eeea;
  display: flex;
  margin-bottom: 50px;
}

.small li{
  display:flex;
  padding:20px;
}

.small h1{
  margin-bottom: 20px;
}

.small img{
  width: 50px;
  height:50px;
}

.s-news{
  padding:0 10px 10px 20px;
}

.medium{
  background: #e7eeea;
  display: flex;
  margin-bottom: 50px;
  text-align: center;
  padding: 0 10px 0 10px;
}

.medium img{
  padding-top: 20px;
}

.medium h1{
  padding: 10px 0 20px 0;
}

.medium p{
  padding: 0 10px 20px 10px;
}

.big{
  background: #e7eeea;
  padding: 20px;
}

.news{
  display: flex;
}

.news h1 {
  padding: 40px 20px 20px 10px;
}

.news p {
  padding: 0 20px 20px 10px;
}

.b-news{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.b-news h1{
  padding: 40px 20px 20px 10px;
}

.b-news p {
  padding:0 20px 20px 10px;
}