html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

.wrap{
  width: 300px;
  margin: 0 auto;
  font-family: "微軟正黑體";
}

.head {
  background: #e7eeea;
  margin-top: 20px;
}

.head h2{
  font-size: 25px;
  font-weight: bold;
  color:#8a9f8e;
  text-align: center;
  padding: 25px 0 30px 0;
}

.item{
  display: flex;
  justify-content: space-between;
  color:#829886;
}

.item span{
  font-size: 20px;
  padding: 10px;
}

.item p{
  font-size: 28px;
  font-weight:bold;
  padding: 10px;
}

.item2{
  display: flex;
  justify-content: space-between;
  color:#829886;
  padding: 10px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h3{
  font-size: 20px;
}

.info p{
  font-size: 24px;
  font-weight:bold;
}

.list{
  border:1px solid #e7eeea;
}

/**table,.head,ul{
  width: 300px;
  border:1px solid #e7eeea;
}

td{
  font-size: 20px;
  padding: 10px;
}

th{
  font-size:28px;
  font-weight: bold;
  padding: 10px;
}

.money{
  text-align: right;
}

td,th{
  color:#829886;
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.item img{
  margin:10px 30px 10px 0 ;
}

.item p{
  font-size: 20px;
  color:#829886;
}

.money2{
  font-weight: bold;
  font-size:28px;
}**/

