html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	width: 900px;
	margin: auto;
}

.header{
	border: 5px solid gray;
	padding: 20px;
}

.content{
	border: 5px solid red;
	height: 300px;
	padding:25px;
}

.content p{
	color: blue;
	padding-bottom: 30px;
	
}

.content a{
	display:block;
	width: 100px;
	height:20px;
	background: gray;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

.content a:hover{
	background: green;
}

.footer {
	display: block;
	height: 50px;
	background-color: palevioletred;
}

.footer p{
	padding-top:20px ;
	text-align: center;
}