html, body, div, span, applet, object, iframe,
 blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
.wrap{
    width: 1000px;
    margin: 0 auto 0 auto;
    text-align: center;
    color: white;
}

.header{
    height: 80px;
    background: gray;
    border: 5px solid pink;
    padding-top: 5px;
    margin-bottom: 10px;
}

.topmenu{
    height: 50px;
}

.topmenu li{
    float: left;
}

.topmenu li a{
    display: block;
    width: 200px;
    height: 50px;
    background: gray;
    border: 5px solid blue;
    color: white;
    line-height: 50px;
    text-decoration: none;/*文字底線設定*/
}

.topmenu li a:hover{
    background: lightpink;
}

.main{
    margin-bottom: 10px;
}

.menu{
    width: 200px;
    background: gray;
    border: 5px solid orange;
    padding-top: 10px;
    float: left;
}

.content{ 
    width: 600px;
    background: gray;
    border: 5px solid green;
    padding-top: 10px;
    float: left;
    line-height: 50px;
    text-align: left;
}

.list{
    width: 200px;
    background: gray;
    border: 5px solid purple;
    padding-top: 10px;
    float: right;
}

.clearfix{
    clear:both;
}

.footer{
    height: 50px;
    background: gray;
    border: 5px solid red;
    padding-top: 10px;
}
